<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>

    <%- include('components/head.html') %>
    
</head>
<body>
    
    <%- include('components/nav.html') %>
    
    <div class="container">
        <header class="row">
            <div class="col-lg-12 text-center">
    
                <img class="animate__animated animate__bounceIn" src="/img/pews-logo.png" alt="PewDiePie">
            </div>
        </header>
    </div>

    <!-- SECTION ONE -->

    <div class="container-fluid animate__animated animate__fadeIn" id="about">
        <div class="row bg-dark text-light p-5 text-center">
            <div class="col-sm-6">
                <i class="fab fa-youtube fa-10x"></i>
            </div>
            <div class="col-sm-6">
                <h3>The most suscribed YouTube Channel</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi architecto impedit, eveniet recusandae assumenda quod laboriosam sunt ipsa, autem odit commodi, vitae tempore ut esse omnis deserunt perspiciatis delectus optio?</p>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <%- include('components/footer.html')%>
    
</body>
</html>